amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.22
boto==2.27.0
celery==3.1.17
defusedxml==0.4.1
dj-database-url==0.2.2
dj-static==0.0.6
Django==1.7.1
-e git+http://github.com/tlake/django-ace@c9cd6e6f84f3ad9e7715c60931290a1dca3acea0#egg=django_ace-2to3
django-appconf==1.0.1
django-celery==3.1.16
django-compressor==1.4
django-cors-headers==0.12
django-debug-toolbar==1.2.1
django-extensions==1.6.1
django-jstemplate==1.3.7
django-nose==1.4.3
django-object-actions==0.4.0
-e git+http://github.com/tlake/django-proxy@e0a8c882e6132d8b94ae06f0406c54b88f575651#egg=django_proxy-2to3d
django-redis==3.5.1
djangorestframework==2.3.12
djangorestframework-bulk==0.1.3
djangorestframework-csv==1.3.0
gevent==1.0
greenlet==0.4.9
gunicorn==18.0
httpagentparser==1.7.8
kombu==3.0.33
Markdown==2.6.5
mock==1.3.0
newrelic==2.16.0.12
nose==1.3.7
oauthlib==1.0.3
pbr==1.8.1
psycopg2==2.5.1
python-dateutil==2.2
python-social-auth==0.1.23
python3-openid==3.0.9
pytz==2015.7
PyYAML==3.11
raven==4.2.1
redis==2.10.5
requests==2.9.1
requests-oauthlib==0.3.1
shareabouts-api==2.4.0
six==1.10.0
South==1.0.1
sqlparse==0.1.18
static3==0.6.1
ujson==1.33
